<div class="bg-dark text-light">
  <div class="p-3 d-flex flex-wrap">
    <div class="col-lg-6 col-12">
      <h5 class="text-center">Lorem Ipsum</h5>
      <hr />
      <div class="d-flex justify-content-center py-3">
        <a href="#"
          ><img class="px-2" src="\assets\icons8-instagram-50.png"
        /></a>
        <a href="#"
          ><img class="px-2" src="\assets\icons8-facebook-50.png"
        /></a>
        <a href="#"
          ><img class="px-2" src="\assets\icons8-tripadvisor-50.png"
        /></a>
      </div>
    </div>
    <div class="col-lg-6 col-12">
      <h5 class="text-center">Lorem Ipsum</h5>
      <hr />
      <div class="text-center py-3">
        <p>Lorem ipsum dolor sit amet</p>
        <p>consectetur adipiscing elit</p>
        <p>Mauris sodales purus erat</p>
        <p>+00 000 000 0000</p>
      </div>
    </div>
  </div>
  <div class="bg-black text-center">
    Copyright © {{ year }} Birreria Coaster
  </div>
</div>
