<div class="bg-bordeux py-3">
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="d-flex flex-wrap justify-content-around">
        <img
          src="\assets\logos\icons8-air-jordan-100.png"
          alt="Random first slide"
        />
        <img src="\assets\logos\icons8-audi-100.png" alt="Random first slide" />
        <img src="\assets\logos\icons8-bmw-100.png" alt="Random first slide" />
        <img
          src="\assets\logos\icons8-branding-100.png"
          alt="Random first slide"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="d-flex flex-wrap justify-content-around">
        <img
          src="\assets\logos\icons8-ferrari-100.png"
          alt="Random first slide"
        />
        <img
          src="\assets\logos\icons8-huion-100.png"
          alt="Random first slide"
        />
        <img
          src="\assets\logos\icons8-smart-100.png"
          alt="Random first slide"
        />
        <img
          src="\assets\logos\icons8-subaru-100.png"
          alt="Random first slide"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="d-flex flex-wrap justify-content-around">
        <img
          src="\assets\logos\icons8-supreme-100.png"
          alt="Random first slide"
        />
        <img
          src="\assets\logos\icons8-tesla-100.png"
          alt="Random first slide"
        />
        <img
          src="\assets\logos\icons8-air-jordan-100.png"
          alt="Random first slide"
        />
        <img
          src="\assets\logos\icons8-air-jordan-100.png"
          alt="Random first slide"
        />
      </div>
    </ng-template>
  </ngb-carousel>
</div>
