<!-- <ng-template #popTitle let-coasterTitle="coasterTitle">{{
  coasterTitle
}}</ng-template>
<ng-template
  #popContent
  let-viaCoaster="viaCoaster"
  let-orariCoaster="orariCoaster"
  >{{ viaCoaster }}<br />{{ orariCoaster }}</ng-template
>

<div
  #popup
  id="popup"
  [ngbPopover]="popContent"
  [popoverTitle]="popTitle"
  #popover="ngbPopover"
  triggers="manual"
  (click)="
    togglePopover(
      popover,
      'Coaster Nullo',
      'Via boh 123, a, b (cd)',
      'Lun-Ven 00:00-10:00'
    )
  "
></div> -->
